@ charset "UTF-8";

body {
	background: silver;
	font: 100% Courier;
}

h1 {
	font: 300% Courier;
	color: Maroon;
}

h2 {
	font:185% courier;
	color: maroon;
}

p {
	color: maroon;
	font: 100% Courier;
}

#wrapper {
	width: 1100px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
}

header#mainHeader {
	height: 185px;
	background: url(images/logo.png) no-repeat 25px center;
	padding: 75px 0 0 300px;
	position: relative;
	border-bottom: 2px solid #7f7f7f;
	margin-bottom: 16px;
}

header#mainHeader div {
	margin-top: 16px;
}

header#mainHeader ul {
	list-style: none;
	float: left;
}

header#mainHeader ul li {
	float: left;
}

header#mainHeader ul li a {
	font-family: courier;
	font-size: 18px;
	color: maroon;
	padding: 0 20px;
	border-right: 1px solid #000;
	text-decoration: none;
}

header#mainHeader ul li a.last {
	border-right: none;
}

header#mainHeader ul li a:hover {
	color: blue;
}

section#content {
	float: left;
	width: 600px;
	padding: 0 10px 0 25px;
	margin-bottom: 10px;
	border-right: 1px solid #7f7f7f;
}

section#content h2{
	color: maroon;
	font: 200% Courier;
}
section#content h3 {
	color: maroon;
	font: 150% Courier
}

section#content h4 {
	color: maroon;
	font: 125% Courier
}

section#content p {
	color: maroon;
	font: 100% Courier;
	line-height: 1.6;
	margin-bottom: 10px;
}
section#content ul li {
	color: maroon;
	font: 100% Courier
}

aside#hobbies {
	font-size: 90%;
	float: right;
	width: 450px;
	margin-bottom: 20px;
}

aside#hobbies a {
	color:maroon;
	font: 100% Courier;
}

aside#hobbies a:hover {
	color: blue;
}

footer#pageFooter {
	clear: both;
	border-top: 2px solid #7f7f7f;
	padding: 20px;
}

footer#pageFooter p {
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
	color: #666;
}	